bertopic == 0.15.0
pandas == 2.1.2
geopandas == 0.13.2
matplotlib == 3.7.2
seaborn == 0.12.2
statsmodels == 0.14.0
rake-nltk == 1.0.4
yake == 0.4.8
ipywidgets == 8.1.1
matplotlib_venn == 0.11.9
spacy == 3.7.2
gensim == 4.3.2
pyLDAvis == 3.4.1